
{{ block content }}
<div dir="rtl">
    {{ if player.round_number == 1 }}
    <p>
        בטבלה הבאה נמצא סט מידע שנבחר בצורה אקראית עבורך,
        במהלך המשחק עליך להשוות את המידע שקיבלת למידע שאחרים שיתפו ולמידע שכבר שיתפת,
        כדי להחליט באילו פרטי מידע לשתף את יתר חברי הקבוצה ובאיזו חלופה לתמוך.
    </p>
    <p>
        זכרו: זהו משחק קבוצתי. כדי לזכות בבונוס של 150 נקודות עליכם לגבש רוב שתומך בחלופה הטובה ביותר בתוך 10 סבבי מידע
    </p>
    {{  endif  }}
    {{ if player.round_number == 10 }}
        <p>
            זהו סבב שיתוף המידע האחרון. הצבעתך תשמר לאחר סבב זה

        </p>
    {{ endif }}
    <p><img src="{% url 'static' pic_address %}" alt="Info Set"></p>

    {{ formfields }}
    {{ next_button }}
</div>
{{ endblock }}
